<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
       <p>This site is developed by Akash Hegde, using node js and exppress js. Live weather info is coming from weatherstack and mapbox.. </p>
    </div>
    
    {{>footer}}
</body>

</html>